@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Poppins&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to handle image positioning */
.prose figure {
  /* Clear floats after floating images */
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Ensure text wraps around floated images */
.prose p {
  overflow: hidden;
}
